<div class="form">
	<div class="form-group">
		<label>What's your favorite programming language?</label>

		<div class="checkbox" ng-repeat="l in $root.availableLanguages">
			<label><input type="checkbox" ng-model="$root.languages[l]"/>{{l}}</label>
		</div>
		<!-- <div class="checkbox">
			<label><input type="checkbox" value=""/>Option two is disabled</label>
		</div> -->
	</div>
	<div class="form-group">
		<label>Is the something else?</label>
		<textarea class="form-control" rows="3" ng-model="$root.else"></textarea>
	</div>
	<div class="wizardButtons">
		<a class="btn btn-default" href="#1" role="button">Prev</a>
		<a class="btn btn-default" href="#3" role="button">Next</a>
	</div>
</div>