<div class="form">
	<div class="form-group">
		<label for="firstName">First name</label>
		<input type="text" class="form-control" id="firstName" placeholder="e.g. John" ng-model="$root.firstName"/>
	</div>
	<div class="form-group">
		<label for="lastName">Last name</label>
		<input type="text" class="form-control" id="lastName" placeholder="e.g. Smith" ng-model="$root.lastName"/>
	</div>
	<div class="form-group">
		<label for="twitter">Twitter</label>
		<input type="text" class="form-control" id="twitter" placeholder="e.g. @johnsmith" ng-model="$root.twitter"/>
	</div>
	<div class="wizardButtons">
		<a class="btn btn-default" href="#2" role="button">Next</a>
	</div>
</div>